---
import { getTagPath } from '../lib/openblog';

type Props = {
  tag: string;
  class?: string;
};

const { tag, class: className = '' } = Astro.props as Props;
const rootClass = `badge post-tag-link icon-label ${className}`.trim();
---

<a class={rootClass} href={getTagPath(tag)} rel="nofollow">
  <i class="ti ti-tag post-chip-icon" aria-hidden="true"></i>
  <span>{tag}</span>
</a>
